header {
    user-select: none;
    background-color: #0f1010 !important;
    font-weight: 700;
}

header li {
    list-style: none;
}

header a {
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    justify-content: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-bottom: 2px;
    padding-top: 2px;
}

@media (hover: hover) {
    .nav-link:hover {
        color: #00e195;
        background-color: #1f1e1e;
        border-radius: 0.8em;
    }
}

.nav-link {
    transition: color, background-color, border-radius, 0.5s ease;
}

.nav-link {
    padding: 0.3em 0.3em;
    border-radius: 0.5em;
}

.hamburger {
    display: none;
    cursor: pointer;

}

.bar {
    display: block;
    width: 35px;
    height: 4px;
    margin: 5px auto;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}


@media(max-width:768px) {
    .hamburger {
        display: block;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: rotateY(8px) rotate(45deg);
    }    
    .hamburger.active .bar:nth-child(1) {
        transform: rotateY(-8px) rotate(-45deg);
    }    

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #0f1010;
        width: 100%;
        text-align: center;
        transition: 0.2s;
        z-index: 2;
        padding-top: 0;
        padding-bottom: 10px;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0%;
    }
    
    .navbar {
        justify-content: left;
    }
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}

label {
    display: block;
    width: 50px;
    height: 25px;
    background-color: #1c1c1c;
    border-radius: 100px;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
    right: 4em;
    top: 1.5em;
    
}

@media (max-width: 230px) {
    label {
        display: block;
        right: 0.5em;
    }
}

label::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #e8f5f7;
    position: absolute;
    border-radius: 70px;
    top: 5px;
    left: 5px;
    transition: 0.5s;
}  

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}


input:checked + label {
    background-color: #505050;
} 

label:active:after {
    width: 20px;
}
